name: itvlist

on:
  workflow_dispatch:
  schedule:
    - cron: '0 21,03,09 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    #runs-on: ubuntu-22.04@20240422.1.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.3'

      - name: Install dependencies
        run: pip install selenium==4.19.0 requests==2.31.0 futures==3.0.5 eventlet==0.36.1 beautifulsoup4==4.12.3
      - name: Run itv_all
        run: python ${{ github.workspace }}/Test.py
      - name: 提交更新
       # run: |
       #    git config --local user.email "2936283507@qq.com"
       #   git config --local user.name "wenwenwenwenwenwenwen"
           #git add .
           #git commit *.txt -m "Add generated file"
           #git commit *.m3u -m "Add generated file"
       #    git pull --rebase
      #     git push origin main -f
